<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ntut.ex10_02">
    <!--允許透過Internet的方式來下載地圖資訊-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--透過裝置的外部儲存體來儲存地圖資訊-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--比較不精準，透過WIFI或行動網路的方式達到定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--比較精準，透過GPS的方式達到定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--Google地圖需要使用OpenGL ES v2版本，過濾不適用的裝置-->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAKcLjlElOh1-JNru_D-JOUPrJA9I_uD1o" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>